.coupon-wrapper {
  position: relative;
  width: 90%;
  // max-width: 634px;
  // max-height: 951px;
  max-width: 45%;
  max-height: 99%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .coupon-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    .counpon-title {
      position: relative;
      font-size: 6rem;
      .unit {
        font-size: 1rem;
      }
    }
    .counpon-subtitle-bottom {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}

@include media-breakpoint-up(md) {
  .coupon-wrapper {
    width: 70%;
    .coupon-card {
      width: 60%;
      .counpon-title {
        position: relative;
        // font-weight: 700;
        font-size: 10rem;
        .unit {
          font-size: 2.5rem;
        }
      }
      .counpon-subtitle-bottom {
        font-size: 1.5rem;
      }
    }
  }
}
